

.parent {
    perspective: 500px;
}

.child {
    transform: rotateY(50deg);
}


.child {
  display: inline-block;
  margin: .5em;
  width: 3em;
  height: 3em;
  border: 1px solid rgba(0,0,0,.5);
  background: tomato;
}

.parent.perspective .child {
  background: tomato;  transition : 0.8s all ease-in-out;
  transform: rotateX(50deg);
}

body:hover .parent.perspective .child {
  transform: rotateX(50deg) rotateY(50deg) translate3d(15000px, 0px, -16000px) scale(0.1);
}




.parent.transform .child {
  background: deepskyblue;
  transform: perspective(50em) rotateX(50deg);
}

h1 {
  font-size: 1em;
}
